@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') 
    format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') 
    format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') 
    format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') 
    format('svg');
}
.navbar{
	margin-bottom: 0px;
}

.container {
	width:100%;
}

.btn-toolbar{

}
.visor.fondoNegro{
    color: #0ade0a;
    background-color: black;
    height: 150px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="checkbox"]{
    padding: 10px;
    line-height: 1.5em;
}
.label-text {
    margin-left:10px;
    vertical-align: text-bottom;
}
span.circulo {
	padding: 5px;
    width: 100%;
    height: 100%;
    background-color:#F8F8F8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: solid 1px #DEDEDE;

}
.tachado{
	color: lightgray;
	text-decoration:line-through;
}
.pie-ticket {
	background-color: #ededed;
	padding: 1%;
}

.fondo{
	background-color: #ADD8E6;
}
.rojo{
	color: red;
}
.producto_codbarras a >h3{
	color: initial;

}

td.pvp{
    min-width: 100px;
}
#Row0 {
    padding:10px;
}

/** CSS para tabla de buscardo **/
tbody tr.FilaModal:focus-within{
	background-color:lightblue;
}

tbody tr.FilaModal:hover{
	border: solid #d8d8de 1px;
	background-color:azure;
}



.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.piePagina {
    background-color: #616a6b ;
    color:  #fdfefe ;
    bottom: 0px !important;
    position: fixed;
    width: 100%;
}

.piePagina a{
color:  #fdfefe ;
}

.icono_web.despublicado > a{
    color:#c6cbc6;
}
.icono_web.error_estadoWeb > a{
    color:red;
}
span.num_notificaciones{
    color:red;
}

input[disabled],input[readonly] {
    background-color:#ededed;
    padding: 1px 5px;

}
.btn {
    margin-bottom: 10px;
    margin-right: 5px;
}

btn-default {
    background-color: #f4f4f4;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
