@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') 
    format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') 
    format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') 
    format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') 
    format('svg');
}
.navbar{
	margin-bottom: 0px;
}

.container {
	width:100%;
}

. btn-toolbar{

}

label {
    display: block;
    margin-bottom: 5px;
}
span.circulo {
	padding: 5px;
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color:#F8F8F8;
    border-radius: 50%;
    border: solid 1px #DEDEDE;

}
.tachado{
	color: lightgray;
	text-decoration:line-through;
}
.pie-ticket {
	background-color: #ededed;
	padding: 1%;
}

.fondo{
	background-color: #ADD8E6;
}
.rojo{
	color: red;
}
.producto_codbarras a >h3{
	color: initial;

}

/** CSS para tabla de buscardo **/
tbody tr.FilaModal:focus-within{
	background-color:lightblue;
}

tbody tr.FilaModal:hover{
	border: solid #d8d8de 1px;
	background-color:azure;
}



.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.piePagina {
    background-color: #616a6b ;
    color:  #fdfefe ;
    bottom: 0px !important;
    position: fixed;
    width: 100%;

}
.piePagina a{
color:  #fdfefe ;
}
