 <VirtualHost *:80>
        ServerAdmin webalagoro@alagoro.com
        ServerName tpvfox.virtual.lago	
        ServerAlias tpvfox.virtual.lago 
        DirectoryIndex index.php index.html
        DocumentRoot /var/www/tpv

        <Directory /var/www/tpv>
                Options Indexes FollowSymLinks Includes ExecCGI
                AllowOverride All
                Order Deny,Allow
                Allow from all
                Require all granted
        </Directory>


<FilesMatch \.php$>
 # For Apache version 2.4.10 and above, use SetHandler to run PHP as a fastCGI process server
 SetHandler "proxy:unix:/run/php/php8.1-fpm.sock|fcgi://localhost"
</FilesMatch>




        LogLevel warn
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/tpvfox.access.log combined

</VirtualHost>
